<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Barberia"
        tools:targetApi="31">
        <activity
            android:name=".MisTurnosActivity"
            android:exported="false" />
        <activity
            android:name=".ResumenTurnoActivity"
            android:exported="false" />
        <!--
            Pantalla inicial de la aplicación.
            Tiene el intent-filter MAIN/LAUNCHER porque será la primera
            pantalla que se muestra al abrir la app.
        -->
        <activity
            android:name=".InicioActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
            Pantalla de reserva creada en el TP1.
            Se abre desde InicioActivity al tocar "Reservar turno".
        -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>